a:link, a:visited {
  background-color: #848686;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: #BD9696;
}
main{
  margin-left: 50px;
}
