<div class="summary">
  <ul>
    <li>Subtotal <span>${{subTotal}}</span></li>
    <li>Tax <span>${{subTotal/10.0}}</span></li>
    <li class="total">Total <span>${{subTotal+subTotal/10.0}}</span></li>
  </ul>
</div>

<div class="checkout">
  <button type="button">Check Out</button>
</div>
