<main>
  <header class="container">
    <app-cart-header [numberItems]="numberItems"></app-cart-header>

  </header>

  <section class="container">
    <app-product-list
      [products]="products"
      (onRemoveProduct)="removeProduct($event)"
      (onupdateQuantity)="updateQuantity($event)"
    ></app-product-list>
  </section>

  <section class="container">
    <app-promo-code></app-promo-code>

    <app-cart-summary [subTotal]="subTotal"></app-cart-summary>
  </section>
</main>
