<ul class="products">
  <li class="row"></li>
  <li class="row" *ngFor="let product of products">
    <div class="col left">
      <div class="thumbnail">
        <a href="#">
          <img [src]="product.thumbnail" [alt]="product.name" />
        </a>
      </div>
      <div class="detail">
        <div class="name">
          <a href="#">{{ product.name }}</a>
        </div>
        <div class="description">
          {{ product.description }}
        </div>
        <div class="price">${{ product.price }}</div>
      </div>
    </div>

    <div class="col right">
      <div class="quantity">
        <input type="number" class="quantity" step="1" value="0" />
      </div>
      <div class="addcart">
        <input
          type="button"
          class="addcart"
          value="ADD"
          (click)="addcart(product)"
        />
      </div>
    </div>
  </li>
</ul>
